//$primary-black: #222222;
//$hover-black: #5b5b5b;
//$primary-white: #eeeeee;
//$hover-white: #fafafa;

:root {
  --primary-black: #222222;
  --hover-black: #5b5b5b;
  --primary-white: #d7d7d7;
  --hover-white: #fafafa;
}

body.dark-theme {
  --primary-black: #d7d7d7;
  --hover-black: #fafafa;
  --primary-white: #222222;
  --hover-white: #5b5b5b;
}